<% my_reservations.each do |my_pending| %>
  <div class="notification bg-light rounded">
    <div class="row">
      <div class="col-md-2">
        <p><%= my_pending.user.username %></p>
      </div>
      <div class="col-md-2">
        <p>X people</p>
      </div>
      <div class="col-md-4">
        <p>From <%= my_pending.start_date.strftime("%d/%m/%Y") %> to <%= my_pending.end_date.strftime("%d/%m/%Y") %></p>
      </div>
      <div class="col-md-2">
        <p><%= my_pending.price %> €</p>
      </div>
      <div class="col-md-2">
        <div class="notification-actions">
          <a href="#">Accept <i class="fa-solid fa-check"></i></a>
          <a href="#">Refuse <i class="far fa-trash-alt"></i></a>
          <a href="#">Pending <i class="fa-solid fa-question"></i></a>
        </div>
      </div>
    </div>
  </div>
<% end %>
