<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item button"><a href="#" class="nav-link px-2 text-muted"><%= link_to "Home", wonders_path %></a></li>
    <li class="nav-item button"><a href="#" class="nav-link px-2 text-muted"><%= link_to "Wonders", wonders_path %></a></li>
    <li class="nav-item button"><a href="#" class="nav-link px-2 text-muted"><%= link_to "FAQs", wonders_path %></a></li>
    <li class="nav-item button"><a href="#" class="nav-link px-2 text-muted"><%= link_to "Contact", wonders_path %></a></li>
  </ul>
  <p class="text-center text-muted">© 2023 Unbelievably</p>
</footer>
