<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content rounded-4">
      <div class="mt-2">
        <h1 class="modal-title fs-5 text-center" id="charreModalLabel">✨ Share your next experience </h1>
        <hr>
      </div>

      <div class="modal-body">
        <div class="share-card">
          <div class="share-link my-2" data-controller="copyboard">
            <div style="display: flex; align-items: center;">
            <img height="25px" src="https://res.cloudinary.com/drrbvxo6s/image/upload/v1709291884/copy_link_ecyuuq.png">
              <p class="button m-0 ms-2"data-action="click->copyboard#clipboard"
              data-copyboard-name-param="pouet"
              ><a href="">Copy Link</a></p>
            </div>
          </div>

          <div class="share-link my-2">
            <div style="display: flex; align-items: center;">
            <img height="25px" src="https://res.cloudinary.com/drrbvxo6s/image/upload/v1709291628/Mail_mo93jb.png">
              <p class="button m-0 ms-2"><a href="mailto:<%=@wonder.user.email%>?subject=Check out this wonder&body=I thought you might like this wonder: <%= @wonder.user.username %>">Email</a></p>
            </div>
          </div>

          <div class="share-link my-2">
            <div style="display: flex; align-items: center;">
              <img height="25px" src="https://res.cloudinary.com/drrbvxo6s/image/upload/v1709290079/Instagram_logo_2016.svg_my48np.webp" >
              <p class="button m-0 ms-2"><a target="_blank" href="https://www.instagram.com/create/post/?url=<%= @wonder.user.username %>">Instagram</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
