.buttons-container .button {
  margin-right: 10px;
}

.button {
  cursor: pointer;
  color: #808080;
  padding: 3px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: white;
    border-radius: 4px;
    color: #8B57BF;
  }
}

.primary-gradient {
  background: linear-gradient(to right, #8E44AE 0%, #563194 100%)
}

.button-with-chevron {
  i {
    transition: transform 0.35s ease;
  }
  &.active {
    i {
      transform: rotate(180deg);
    }
  }
}
