// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/notification";
@import "pages/index";

a {
  text-decoration:none!important;
  color: black!important;
}


#wonderPhotosCarousel img {
  height: 550px; /* Fixe la hauteur des images */
  width: 100%; /* Permet aux images de s'étirer pour remplir la largeur */
  object-fit: cover; /* Assure que les images couvrent l'espace disponible sans perdre leurs proportions */
}

#wonderPhotosCarousel {
  height: 550px; /* Fixe la hauteur du carousel */
}

@media (max-width: 768px) {
  #wonderPhotosCarousel img {
    height: 300px;
  }

  #wonderPhotosCarousel {
    height: 300px;
  }
}
.form-control {
  background: white!important;
}
